<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  
  <!--管理员的openid-->
  <add key="ManagerOpenId" value="oVwEe1Sx-bdgqSNMx3SaPT3FcScE"/>
  <!--接口域名-->
  <add key="interfaceDomain" value="http://localhost:9000/"/>
  <!--微信公众号域名-->
  <add key="wxDomain" value="http://ydbus.jstsyf.com"/>
  <!--盛派微信START-->
  <!-- 微信公众号URL对接信息 -->
  <add key="WeixinToken" value="weixintoken"/>
  <add key="WeixinEncodingAESKey" value="fLoFexvFjZ0LsJNWSv2VK76GT95zk6i5ATlba8VCjuW"/>
  <!-- 高级接口信息 -->
  <add key="WeixinAppId" value="wx3cc1433ebc0e5154"/>
  <add key="WeixinAppSecret" value="b934599b68c2bd7db048f72bd3c2c645"/>
  <!-- SDK提供的代理功能设置 -->
  <add key="WeixinAgentUrl" value="外部代理Url"/>
  <add key="WeixinAgentToken" value="外部代理Token"/>
  <add key="WeixinAgentWeiweihiKey" value="外部代理WeiWeiHiKey"/>
  <!-- 微信支付相关参数 -->
  <!-- 微信支付V2 -->
  <add key="WeixinPay_Tenpay" value="WeixinPay_Tenpay"/>
  <add key="WeixinPay_PartnerId" value="WeixinPay_PartnerId"/>
  <add key="WeixinPay_Key" value="WeixinPay_Key"/>
  <add key="WeixinPay_AppId" value="WeixinPay_AppId"/>
  <add key="WeixinPay_AppKey" value="WeixinPay_AppKey"/>
  <add key="WeixinPay_TenpayNotify" value="WeixinPay_TenpayNotify"/>
  <!-- 微信支付V3 -->
  <add key="TenPayV3_MchId" value="1418559002"/>
  <add key="TenPayV3_Key" value="Zfx365com0123456Zfx365com0123456"/>
  <add key="TenPayV3_AppId" value="wx111a9eee5a715e38"/>
  <add key="TenPayV3_AppSecret" value="202fc70d44f8ecb0923327e47fb6653a"/>
  <add key="TenPayV3_TenpayNotify" value="http://m.YiDaBus.com/WxPay/PayNotifyUrl/"/>
  <!-- 开放平台 -->
  <add key="Component_Appid" value="Component_Appid"/>
  <add key="Component_Secret" value="Component_Secret"/>
  <add key="Component_Token" value="Component_Token"/>
  <add key="Component_EncodingAESKey" value="Component_EncodingAESKey"/>
  <!-- 企业号 -->
  <add key="WeixinCorpId" value="WeixinCorpId"/>
  <add key="WeixinCorpSecret" value="WeixinCorpSecret"/>

  <!-- 小程序 -->
  <!-- 小程序消息URL对接信息 -->
  <add key="WxOpenToken" value="小程序消息URL对应的Token"/>
  <add key="WxOpenEncodingAESKey" value="小程序消息URL对应的消息加解密密钥"/>
  <!-- 小程序秘钥信息 -->
  <add key="WxOpenAppId" value="wxe93f9ffe9a182543"/>
  <add key="WxOpenAppSecret" value="a1dfe08210a8689b3b42961c666d08d6"/>

  <!-- Cache.Redis连接配置 -->
  <add key="Cache_Redis_Configuration" value="Redis配置"/>
  <!--<add key="Cache_Redis_Configuration" value="localhost:6379"/>-->
  <!--盛派微信END-->

  <!--后台域名-->
  <add key="manageDomain" value="http://localhost:3215"/>
</appSettings>
