@{
    ViewBag.Title = "易达快乐巴士 - 上海订票";
    Layout = "~/Views/Shared/master.cshtml";
}

<header class="demos-header">
    <h1 class="demos-title">上海订票信息</h1>
</header>

<div class="weui-form-preview" id="orderDetails">
   
</div>

@section footContainer{
    <script id="orderDetailsTemplate" type="text/html">
        {{# if(d!=null){ }}
        <div class="weui-form-preview__hd">
            <label class="weui-form-preview__label">票价总额</label>
            <em class="weui-form-preview__value">¥{{ d.TotalAmount.toFixed(2) }}</em>
        </div>
        <div class="weui-form-preview__bd">
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">类型</label>
                <span class="weui-form-preview__value">{{ d.ToPosition }}订票</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">订单号</label>
                <span class="weui-form-preview__value">{{ d.OrderNo }}</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">车辆</label>
                <span class="weui-form-preview__value">{{ d.CarNumber }} | {{ d.FromPosition }}-{{ d.ToPosition }}</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">预订座位</label>
                <span class="weui-form-preview__value">{{ d.SeatTexts }}</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">发车时间</label>
                <span class="weui-form-preview__value">{{ d.DepartureTime }} {{ d.WeekTextCn }}</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">客户姓名</label>
                <span class="weui-form-preview__value">{{ d.UserNickName }}</span>
            </div>
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">客户电话</label>
                <span class="weui-form-preview__value">{{ d.Mobile }}</span>
            </div>
            {{# if(d.Area == "shanghai") { }}
            <div class="weui-form-preview__item isOnlyShowShanghai">
                <label class="weui-form-preview__label">是否接送</label>
                <span class="weui-form-preview__value">
                {{# if(d.IsShuttle == 1) { }}
                    是
                {{# } else { }}
                    否
                {{# } }}
                </span>
            </div>
            <div class="weui-form-preview__item isOnlyShowShanghai">
                <label class="weui-form-preview__label">接送地点</label>
                <span class="weui-form-preview__value">{{ d.MeetPosition }}-{{ d.SendPosition }}</span>
            </div>
            {{# } }}
            <div class="weui-form-preview__item">
                <label class="weui-form-preview__label">车票状态</label>
                <span class="weui-form-preview__value">
                {{# if(d.IsDel == 1) { }}
                    无效
                {{# } else { }}
                    有效
                {{# } }}/
                {{# if(d.IsExpir == 1) { }}
                    过期
                {{# } else { }}
                    未过期
                {{# } }}</span>
            </div>

            <div class="weui-form-preview__item">
                @*<label class="weui-form-preview__label">备注说明</label>*@
                <span class="weui-form-preview__value" style="color: #f00; text-align: left;">注：预订成功后，客服专员会在第一时间与你电话联系，请保持电话畅通，如需取消，请在发车前2小时与客服联系，否则视弃票！</span>
            </div>
        </div>

        <div class="weui-form-preview__ft">
            <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="/MemberManager/Member/MemberTicket">返回</a>
            <a class="weui-form-preview__btn weui-form-preview__btn_default" href="javascript:" id="btnDel">删除</a>
        </div>
        {{#  } }}
        {{#  if(d==null||d.length === 0){ }}
        <div class="search_null">
            <dl>
                <dt><img width="70" src="/content/images/null.png"></dt>
                <dd>订单不存在或已被删除！</dd>
            </dl>
        </div>
        {{#  } }}
    </script>
    <script src="~/Content/js/memberTicketDetail.js"></script>
    <script>
       
        $(function() {
            GetOrderDetails();
        });
        
        
    </script>
}

