@{
    ViewBag.Title = "易达快乐巴士 - 提交成功";
    Layout = "~/Views/Shared/master.cshtml";
}

<div class="weui-msg">
    <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i>
    </div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">提交成功</h2>
        <p class="weui-msg__desc">您的预订信息已提交，稍候客服专员会与您电话联系，请保持电话畅通!</p>
    </div>
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <a href="/Home/MemberTicket" class="weui-btn weui-btn_primary">查看我的预订信息</a>
        </p>
    </div>
    <div class="weui-msg__extra-area">

    </div>
</div>
<div class="weui-flex">
    <div class="weui-flex__item" style="text-align: center;"><img src="/Content/images/skm.png" style="width: 258px; height: 258px;border: 1px solid #ccc; display: inline-block;" alt="支付二维码" /></div>
</div>
<div class="weui-footer weui-footer_fixed-bottom">
    <p class="weui-footer__text">Copyright &copy; 2018 易达快乐巴士</p>
</div>