<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="YiDaBusDbContext" connectionString="Server=.;Initial Catalog=YiDaBus.Com.Manager;User ID=sa;Password=123123" providerName="System.Data.SqlClient" />-->
  <add name="YiDaBusDbContext" providerName="MySql.Data.MySqlClient" connectionString="Data Source=10.138.30.191;Database=YiDaBus;User Id=root;Password=wqf123;Convert Zero Datetime=True;Allow Zero Datetime=True;" />


  <add name="AccessConn" providerName="Dos.ORM.MsAccess" connectionString="" />
  <add name="OracleConn" providerName="Dos.ORM.Oracle" connectionString="" />
  <add name="PostgreSqlConn" providerName="Dos.ORM.PostgreSql" connectionString="" />
</connectionStrings>