<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!-- 数据库超时间-->
  <add key="CommandTimeout" value="180" />
  <!--启用IP过滤 -->
  <add key="IsIPFilter" value="false" />
  <!-- ================== 2：系统软件参数配置 ================== -->
  <!-- 联系我们 -->
  <add key="Contact" value="www.nfine.cn" />
  <!-- 软件名称 -->
  <add key="SoftName" value="NFine快速开发框架" />
  <!-- 软件版本 -->
  <add key="Version" value="1.0" />
  <!-- 软件授权码 测试备用 -->
  <add key="LicenceKey" value="83eda07f-ead3-4050-bcee-4f41e57a7e16" />
  <!-- ================== 3：外部邮件参数 ================== -->
  <!-- 设置邮箱名称 -->
  <add key="MailName" value="邮件中心" />
  <!-- 设置邮箱地址 -->
  <add key="MailUserName" value="sendbug@nfine.cn" />
  <!-- 设置邮箱密码 -->
  <add key="MailPassword" value="123456" />
  <!-- 设置邮箱主机 -->
  <add key="MailHost" value="smtp.ym.163.com" />
  <!-- 站点配置文件名 -->
  <add key="Configpath" value="~/xmlconfig/site.config" />





  <!--盛派微信START-->
  <!-- 微信公众号URL对接信息 -->
  <add key="WeixinToken" value="第三方URL对应的Token"/>
  <add key="WeixinEncodingAESKey" value="第三方URL对应的消息加解密密钥"/>
  <!-- 测试高级接口信息 -->
  <add key="WeixinAppId" value="wx9e030984b1f6be79"/>
  <add key="WeixinAppSecret" value="8c63ea1d8ba8c62f729b118e7b2af1a2"/>
  <!-- 正式高级接口信息 -->
  <!--<add key="WeixinAppId" value="wx111a9eee5a715e38" />
    <add key="WeixinAppSecret" value="202fc70d44f8ecb0923327e47fb6653a" />-->
  <!-- SDK提供的代理功能设置 -->
  <add key="WeixinAgentUrl" value="外部代理Url"/>
  <add key="WeixinAgentToken" value="外部代理Token"/>
  <add key="WeixinAgentWeiweihiKey" value="外部代理WeiWeiHiKey"/>
  <!-- 微信支付相关参数 -->
  <!-- 微信支付V2 -->
  <add key="WeixinPay_Tenpay" value="WeixinPay_Tenpay"/>
  <add key="WeixinPay_PartnerId" value="WeixinPay_PartnerId"/>
  <add key="WeixinPay_Key" value="WeixinPay_Key"/>
  <add key="WeixinPay_AppId" value="WeixinPay_AppId"/>
  <add key="WeixinPay_AppKey" value="WeixinPay_AppKey"/>
  <add key="WeixinPay_TenpayNotify" value="WeixinPay_TenpayNotify"/>
  <!-- 微信支付V3 -->
  <add key="TenPayV3_MchId" value="1418559002"/>
  <add key="TenPayV3_Key" value="Zfx365com0123456Zfx365com0123456"/>
  <add key="TenPayV3_AppId" value="wx111a9eee5a715e38"/>
  <add key="TenPayV3_AppSecret" value="202fc70d44f8ecb0923327e47fb6653a"/>
  <add key="TenPayV3_TenpayNotify" value="http://dev.YiDaBus.com/WxPay/PayNotifyUrl/"/>
  <!-- 开放平台 -->
  <add key="Component_Appid" value="Component_Appid"/>
  <add key="Component_Secret" value="Component_Secret"/>
  <add key="Component_Token" value="Component_Token"/>
  <add key="Component_EncodingAESKey" value="Component_EncodingAESKey"/>
  <!-- 企业号 -->
  <add key="WeixinCorpId" value="WeixinCorpId"/>
  <add key="WeixinCorpSecret" value="WeixinCorpSecret"/>

  <!-- 小程序 -->
  <!-- 小程序消息URL对接信息 -->
  <add key="WxOpenToken" value="小程序消息URL对应的Token"/>
  <add key="WxOpenEncodingAESKey" value="小程序消息URL对应的消息加解密密钥"/>
  <!-- 小程序秘钥信息 -->
  <add key="WxOpenAppId" value="wxe93f9ffe9a182543"/>
  <add key="WxOpenAppSecret" value="a1dfe08210a8689b3b42961c666d08d6"/>
  <!--盛派微信END-->

  <!-- Cache.Redis连接配置 （格式：ip:prot,password） -->
  <add key="Cache_Redis_Configuration" value="192.168.1.44:6379,password=YiDaBus.com" />
  <!--接口域名-->
  <add key="interfaceDomain" value="http://localhost:9000/"/>
  <!--微信端域名-->
  <add key="mobileDomain" value="http://m.YiDaBus.com/"/>
  <!--微信欢迎语-->
  <add key="welcome" value=""/>
</appSettings>